@use '../../../assets/sass/vars'
@use '../../../assets/sass/mixin'

.contacts 
  @include mixin.section
  &__container 
    @include mixin.container($max-width: 1144px, $padding: 80px 32px 114px)
  &__title
    display: inline-flex
    justify-content: flex-start
    align-items: center
    gap: 16px
    span 
      @include mixin.section-number 
    h4 
      @include mixin.section-title
  &__info 
    margin-top: 39px
    font-weight: 500
    font-size: 28px
    line-height: 34px 
    letter-spacing: -0.56px
    text-transform: uppercase
    span 
      color: vars.$purple600
  &__image 
    position: absolute 
    top: 25px 
    right: 32px
  &__body 
    width: 100%
    margin-top: 24px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    &-item 
      border: 1px solid vars.$gray500
      border-radius: 10px
      padding: 18px 22px
      font-family: vars.$font-family-primary
      text-transform: uppercase
      font-size: 11px
      line-height: 18px
      letter-spacing: 1.1px
      color: vars.$purple400
