@use '../../../assets/sass/vars'
@use '../../../assets/sass/mixin'
@use '../../../assets/sass/breakpoints' as *
  
.about
  @include mixin.section
  &__container 
    @include mixin.container($max-width: 1144px, $padding: 80px 32px)
  &__title
    display: inline-flex
    justify-content: flex-start
    align-items: center
    gap: 16px
    span 
      @include mixin.section-number 
    h4 
      @include mixin.section-title
  &__body 
    margin-top: 40px
    display: flex
    align-items: flex-start
    justify-content: space-between
    +mobile 
      flex-direction: column
      gap: 20px
    &-br 
      +mobile 
        display: none
    &-title 
      max-width: 449px
      font-weight: 500
      font-size: 32px 
      line-height: 126%
      letter-spacing: -1px
      +laptop
        max-width: 381px
      +mobile 
        font-size: 20px 
        line-height: 148%
      span 
        color: vars.$purple600
    &-info 
      max-width: 517px
      +laptop
        max-width: 385px
      +tablet
        max-width: 311px
      +tablet 
        max-width: 100%
        width: 100%
      &__item
        padding: 18px 0px
        border-top: 1px solid vars.$gray500
        display: flex
        gap: 27px
        &:last-of-type
          border-bottom: 1px solid vars.$gray500
        span 
          min-width: 36px
          font-size: 12px
          line-height: 19px
          color: vars.$purple400
        p
          max-width: 419px
          font-size: 16px
          line-height: 150%
          +tablet
            max-width: 233px
          +mobile 
            max-width: 100%
            width: 100%

          