@use '../../../assets/sass/vars'
@use '../../../assets/sass/mixin'
  
.approach
  @include mixin.section
  &__container 
    @include mixin.container($max-width: 1144px, $padding: 60px 32px)
  &__title
    display: inline-flex
    justify-content: flex-start
    align-items: center
    gap: 16px
    span 
      @include mixin.section-number 
    h4 
      @include mixin.section-title
  &__image 
    position: absolute
    top: 94px 
    right: 32px
    width: 63px 
    height: 128px
  &__description
    max-width: 751px
    margin-top: 40px
    font-weight: 600
    font-size: 32px
    letter-spacing: 0px
    text-transform: uppercase

      