@use '../../../assets/sass/vars'
@use '../../../assets/sass/mixin'
@use '../../../assets/sass/breakpoints' as *
  
.approach
  @include mixin.section
  &__container 
    @include mixin.container($max-width: 1144px, $padding: 60px 32px)
  &__title
    display: inline-flex
    justify-content: flex-start
    align-items: center
    gap: 16px
    span 
      @include mixin.section-number 
    h4 
      @include mixin.section-title
  &__image 
    position: absolute
    top: 94px 
    right: 32px
    width: 63px 
    height: 128px
    +tablet 
      top: 109px
    +mobile 
      display: none
    &--mobile 
      display: none 
      position: absolute 
      right: 14px
      bottom: 0
      +mobile 
        display: block
  &__description
    max-width: 751px
    margin-top: 40px
    font-weight: 600
    font-size: 32px
    letter-spacing: 0px
    text-transform: uppercase
    +laptop
      max-width: 86%
    +tablet 
      font-size: 28px
    +mobile  
      font-size: 20px
      font-weight: 500
      max-width: 450px

      