@use '../../../assets/sass/vars'
@use '../../../assets/sass/mixin'
@use '../../../assets/sass/breakpoints' as *

.intro 
  @include mixin.section
  &__container 
    @include mixin.container
  &__subtitle
    font-family: vars.$font-family-primary
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 1px
    line-height: 150%
    color: vars.$gray400
  &__title
    position: relative
    margin-top: 27px
    text-transform: uppercase
    font-weight: 600
    font-size: 68px
    letter-spacing: -2px
    +laptop
    +tablet
      font-size: 54px
      line-height: 56px
    &-image 
      position: absolute
      top: 10px 
      right: 32px
      width: 118px
      height: 118px
      display: block
      border-radius: 50%
      +laptop
        top: auto 
        bottom: 20px
        right: 0px
      +tablet
  &__description
    font-family: vars.$font-family-secondary
    font-size: 20px
    line-height: 150%
    max-width: 657px
    margin-top: 27px
    color: vars.$gray250
    +laptop
      line-height: 32px
    span 
      position: relative
      color: vars.$gray250
      &::before
        content: ""
        position: absolute
        top: 7px
        left: 4px
        width: 66px
        height: 16px
        background-image: url('../../../assets/icons/cross.svg')
        background-repeat: no-repeat
        background-size: contain
        background-position: center
  &__actions 
    margin-top: 41px
    display: flex 
    justify-content: flex-start
    align-items: center
    gap: 14px
    &-button 
      padding: 12px 24px
      font-family: vars.$font-family-primary
      font-size: 18px
      border-radius: 7px
      transition: all 250ms ease
      &--primary
        color: vars.$purple200
        background-color: vars.$purple600
        &:hover,
        &:active
          background-color: vars.$purple400
      &--secondary 
        color: vars.$gray250
        border: 1px solid vars.$gray500
        &:hover,
        &:active
          color: vars.$purple200
          background-color: vars.$purple600
          border: 1px solid vars.$purple400
