@use '../../assets/sass/vars'
@use '../../assets/sass/breakpoints' as *

.header 
  width: 100%
  border-bottom: 1px solid vars.$gray700
  +laptop
  +tablet
  &__logo 
    display: block
    width: 87px
    height: 36px
  &__menu 
    width: 32px 
    height: 32px
    display: none
    +mobile 
      display: block
  &__container 
    max-width: 1144px
    height: 77px
    margin: auto
    padding-inline: 32px
    display: flex 
    justify-content: space-between
    align-items: center
    +laptop
      max-width: 944px
    +tablet
      max-width: 768px
      padding-inline: 28px
    +mobile 
      padding-inline: 14px
  &__nav 
    display: flex 
    justify-content: flex-start
    align-items: center
    gap: 28px
    +mobile 
      position: absolute 
      top: 0 
      left: 0 
      z-index: -1
      opacity: 0 
      pointer-events: none
    &-button 
      font-size: 16px
      line-height: 110%
      letter-spacing: -1px
      color: vars.$gray250
      &:hover,
      &:active
        color: vars.$gray200
      &--accent 
        font-family: vars.$font-family-primary
        font-size: 18px
        padding: 8px 17px 
        border: 1px solid vars.$purple600
        letter-spacing: 0
        border-radius: 6px
        transition: all 250ms ease
        &:hover,
        &:active
          color: vars.$gray200
          border: 1px solid vars.$purple400
          background-color: vars.$purple600
          