@use '../../assets/sass/vars'

.header 
  width: 100%
  border-bottom: 1px solid vars.$gray700
  &__logo 
    display: block
    width: 87px
    height: 36px
  &__container 
    max-width: 1144px
    height: 76px
    margin: auto
    padding-inline: 32px
    display: flex 
    justify-content: space-between
    align-items: center
  &__nav 
    display: flex 
    justify-content: flex-start
    align-items: center
    gap: 28px
    &-button 
      font-size: 13px
      line-height: 20px
      color: vars.$gray250
      &:hover,
      &:active
        color: vars.$gray200
      &--accent 
        font-family: vars.$font-family-primary
        font-size: 18px
        padding: 8px 17px 
        border: 1px solid vars.$purple600
        border-radius: 6px
        transition: all 250ms ease
        &:hover,
        &:active
          color: vars.$gray200
          border: 1px solid vars.$purple400
          background-color: vars.$purple600
          