$mobile: 650px
$tablet: 768px
$laptop: 1280px

=mobile
  @media (max-width: $mobile)
    @content

=tablet
  @media (max-width: $tablet)
    @content

=laptop
  @media (max-width: $laptop)
    @content
